<app-navbar></app-navbar>
<div class="pl-3 pr-3 start mb-3">
  <div
    class="
      d-flex
      flex-row
      main-heading
      justify-content-between
      align-items-center
      mt-3
    "
  >
    <h1 class="main-heading-text mb-0">¡Genera tu propio Avatar!</h1>
    <div class="d-grid">
      <span class="text-primary">¿Satisfecho con la creación?</span>
      <button class="btn btn-success btn-sm ml-3" (click)="save()">
        <fa-icon [icon]="faUpload"></fa-icon>&nbsp;Publicar Avatar
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex justify-content-center align-item-center p-2">
    <avatar [options]="options"></avatar>
  </div>
  <form
    [formGroup]="avatarForm"
    class="d-flex flex-column align-item-between pb-3"
  >
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="option">Top</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="top">
          <ng-container *ngFor="let option of tops">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center"
      *ngIf="options.top !== topsEnum.EYEPATCH"
    >
      <div class="option">
        <fa-icon [icon]="faArrowRight"></fa-icon>&nbsp;Accesorios
      </div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="accessories">
          <ng-container *ngFor="let option of accessories">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center"
      *ngIf="showHairColour()"
    >
      <div class="option">
        <fa-icon [icon]="faArrowRight"></fa-icon>&nbsp;Color
      </div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="hairColor">
          <ng-container *ngFor="let option of hairColor">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center"
      *ngIf="showHatColour()"
    >
      <div class="option">
        <fa-icon [icon]="faArrowRight"></fa-icon>&nbsp;Color
      </div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="hatColor">
          <ng-container *ngFor="let option of hatColor">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center"
      *ngIf="options.top !== topsEnum.HIJAB"
    >
      <div class="option">Vello Facial</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="facialHair">
          <ng-container *ngFor="let option of facialHair">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center"
      *ngIf="options.top !== topsEnum.HIJAB"
    >
      <div class="option">
        <fa-icon [icon]="faArrowRight"></fa-icon>&nbsp;Color
      </div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="facialHairColor">
          <ng-container *ngFor="let option of facialHairColor">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="option">Ropa</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="clothes">
          <ng-container *ngFor="let option of clothe">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center"
      *ngIf="showColourFabric()"
    >
      <div class="option">
        <fa-icon [icon]="faArrowRight"></fa-icon>&nbsp; Color
      </div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="clothColor">
          <ng-container *ngFor="let option of clothColor">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center"
      *ngIf="options.clothes === clothesEnum.GRAPHIC_SHIRT"
    >
      <div class="option">
        <fa-icon [icon]="faArrowRight"></fa-icon>&nbsp;Graphic
      </div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="graphic">
          <ng-container *ngFor="let option of graphic">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="option">Ojos</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="eyes">
          <ng-container *ngFor="let option of eyes">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="option">Cejas</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="eyebrow">
          <ng-container *ngFor="let option of eyebrow">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="option">Boca</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="mouth">
          <ng-container *ngFor="let option of mouth">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="option"><fa-icon [icon]="faPallet"></fa-icon>&nbsp;Piel</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="skin">
          <ng-container *ngFor="let option of skin">
            <mat-option [value]="option">{{ option }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="d-flex flex-row justify-content-between align-items-center"
      style="width: fit-content"
    >
      <div class="d-flex flex-column"></div>
      <div class="d-flex flex-row">
        <button
          mat-flat-button
          color="primary"
          class="m-1 bottomButton"
          (click)="onDownloadPNG()"
        >
          <fa-icon [icon]="faDownload"></fa-icon>&nbsp; PNG
        </button>
        <button
          mat-flat-button
          color="primary"
          class="m-1 bottomButton"
          (click)="downloadSvg()"
        >
          <fa-icon [icon]="faDownload"></fa-icon>&nbsp; SVG
        </button>
        <button
          mat-flat-button
          color="primary"
          class="m-1 bottomButton"
          (click)="toggleImage()"
          *ngIf="false"
        >
          <fa-icon [icon]="faCode"></fa-icon>&nbsp; Mostrar image
        </button>
        <button
          mat-flat-button
          color="primary"
          class="m-1 bottomButton"
          (click)="toggleImage()"
          *ngIf="false"
        >
          <fa-icon [icon]="faCode"></fa-icon>&nbsp; Esconder image
        </button>
        <button
          mat-flat-button
          color="primary"
          class="m-1 bottomButton"
          (click)="getRandom()"
        >
          <fa-icon [icon]="faRandom"></fa-icon>&nbsp;Generar uno random
        </button>
        <br />
      </div>
    </div>
  </form>
</div>
<canvas
  style="height: 140; width: 132; display: none"
  itemref="canvasRef"
  id="canvasRef"
>
</canvas>
