@import "~ngx-toastr/toastr";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
  // background-color: #56baed;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
}
